.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
#dont upload the database of images in src\main\resources\Facedataset\Humans
!**/src/main/**/Facedataset/Humans/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.jpg
*.jpeg
*.png
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
/src/test/**/bin/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/main/resources/Facedataset/Humans/1 (1).jpeg

### Python ENV ###
mmda_venv/
